* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 64px 16px 48px;
  max-width: 400px;
}

.title {
  margin-bottom: 32px;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 48px;
  padding-bottom: 48px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 16px;
  border-bottom: 8px solid  hsl(0deg, 0%, 40%);
}

.indented-heading {
  padding: 8px 24px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -24px;
  margin-top: -8px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
